* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body,
#root {
  min-height: 100vh;
}

body {
  position: sticky;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

main {
  min-height: calc(100vh - 70px);
  background-color: #0088d760;
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100px;
}

/* Header container */
header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: linear-gradient(90deg, #0077b6, #00b4d8);
  color: #ffffff;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

}

/* Titolo */
header>p {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0;
}

#navbar {
  display: flex;
  gap: 1.5rem;
}

header a {
  color: #e0f7fa;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
  position: relative;
}

#navbar a::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #caf0f8;
  transition: width 0.3s ease;
}

header a:hover {
  color: #ffffff;
}

#navbar a:hover::after {
  width: 100%;
}


/* playerList */
/* Contenuto principale */

h2 {
  text-align: center;
  color: #023e8a;
  padding-top: 2rem;
}

/* Sezione filtro */
.filter {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1.5rem 0;
  flex-wrap: wrap;
}



.filter button,
.filter input {
  background-color: white;
  border: 2px solid #0077b6;
  border-radius: 8px;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  color: #0077b6;
  font-weight: bolder;
}

.filter input:focus {
  border: 3px solid #023e8a;
  outline: none;
}


/* Tavola giocatori */
table {
  width: 90%;
  margin: 0 auto 3rem auto;
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 119, 182, 0.1);
  background-color: #f1faff;
  border-radius: 12px;
  overflow: hidden;
}

th,
td {
  text-align: left;
  padding: 1rem;
  border-bottom: 1px solid #90e0ef;
}

th {
  background-color: #0077b6;
  color: white;
  font-weight: bold;
  padding: 1rem;
}

#role {
  text-align: center;
}

tr:hover {
  background-color: #bdd8ff;
}

/* Link nome giocatore */
a {
  color: #0077b6;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease;
}

a:hover {
  color: #023e8a;
}

/* Cerchi colorati ruolo */
.circle {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: auto;
}

/* Colori per ruoli */
.red.circle {
  background-color: #e63946;
}

.white.circle {
  width: 50px;
  background-color: aliceblue;
  color: #0077b6;
}

.blue.circle {
  background-color: #4361ee;
}

.green.circle {
  background-color: #2a9d8f;
}

.orange.circle {
  background-color: #f4a261;
}

/* Responsive */
@media (max-width: 600px) {

  table,
  th,
  td {
    font-size: 0.9rem;
  }

  .filter {
    flex-direction: column;
    align-items: center;
  }
}

/* Details Page */

/* Titolo giocatore */

h1 {
  text-align: center;
  color: #0077b6;
  padding-top: 2rem;
  font-size: 2rem;
}

.detailsContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* Contenitore immagine */
.imgContainer {
  display: flex;
  justify-content: center;
  margin: 1.5rem 0;
  width: 250px;
}

.imgContainer img {
  width: 100%;
  object-fit: cover;
}

/* Sezione statistiche */
.stats {
  background-color: #f1faff;
  width: 90%;
  max-width: 500px;
  max-height: 280px;
  margin: 30px;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 119, 182, 0.1);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1.2rem;
  color: #023e8a;
  font-size: 1.1rem;
}

.stats p img {
  transform: translate(-50%, 20%);
}

.stats button,
.favoriteButton {
  padding: 10px;
  background-color: aliceblue;
  border: #e63946, solid, 1px;
  border-radius: 10px;
  color: #e63946;
  cursor: pointer;
}

.stats .favorite,
.favorite {
  background-color: #e63946;
  color: aliceblue;
}


/* Responsive */
@media (max-width: 600px) {
  .stats {
    padding: 1rem;
    font-size: 0.95rem;
  }

  .imgContainer img {
    width: 140px;
    height: 140px;
  }
}


/* comparatore */

.comparator-container {
  padding: 2rem;
  padding-top: 0;
  font-family: sans-serif;
}

.search-section {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.filterInput {
  background-color: white;
  border: 2px solid #0077b6;
  border-radius: 8px;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #0077b6;
  font-weight: bolder;
}

.player-search {
  position: relative;
  text-align: center;
  width: 100%;
}

.suggestion-list {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
  list-style: none;
  padding: 0;
  margin: 0;
}

.suggestion-list li {
  padding: 0.5rem;
  cursor: pointer;
}

.suggestion-list li:hover {
  background-color: #eee;
}

.comparison-table {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: flex-start;
  border: 1px solid #ddd;
  border-radius: 12px;
  background: #f9f9f9;
}

.player-card {
  flex: 1;
  padding: 1rem;
  color: #023e8a;
  display: flex;
  justify-content: space-around;
  font-size: 1.1rem;
}

.playerPresentation {
  text-align: center;
}

.player-card img {
  width: 100px;
  height: auto;
}

.playerStats .leftStats {
  text-align: end;
}

.playerStats .rightStats {
  text-align: start;
}

.player-card p img {
  width: 15px;
}

.player-card p .left {
  transform: translate(-50%, 0);
}

.player-card p .right {
  transform: translate(50%, 0);
  text-align: end;
}

.statsName {
  padding-top: 1rem;
}

.statsName>p {
  font-weight: bolder;
  color: #023e8a;
  text-align: center;

}

.alert {
  padding: 1rem;
  border: #e63946 solid 2px;
  border-radius: 10px;
  background-color: #e48c94;
  color: #e63946;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  font-weight: bolder;
}


/* HEROPAGE */

.hero-container {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url("/img/hero-background.jpg");
  /* personalizzabile */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  overflow: hidden;
}

.hero-background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 2rem;
  animation: fadeInUp 1s ease forwards;
  max-width: 90%;
}

.hero-title {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.hero-subtitle {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  opacity: 0.9;
}

.hero-button {
  display: inline-block;
  background-color: #00BFFF;
  color: white;
  padding: 0.75rem 2rem;
  font-size: 1rem;
  border-radius: 2rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.hero-button:hover {
  background-color: #009acd;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive */
@media (max-width: 768px) {
  .hero-title {
    font-size: 2rem;
  }

  .hero-subtitle {
    font-size: 1rem;
  }
}